<%- include('./includes/head.ejs') %>
<%- include('./includes/headendbodystart.ejs') %>
<%- include('./includes/nav.ejs') %>    
    <main>
        <% if ((users.length > 0)) { %>
            <% if (exists[0] == 'true') { %>
                <h3 class="text-red">User already exists. Please try another user name.</h3>
            <% } %>
                <h3>Users:</h3>
                <ul>
                <% for (let user of users) { %>
                    <li><%= user.userName %></li>
                <% } %>
                </ul>
        <% } else { %>
            <h3>No users are logged yet</h3>
        <% } %>
    </main>
<%- include('./includes/end.ejs') %>